#!/bin/bash

NETWORK_NAME=phabricator
DNS_NAME=phabricator
SQL_NAME=phabricator
VM_NAME=phabricator

#MAILGUN_APIKEY=

# Uncomment if you have a custom domain.
#CUSTOM_DOMAIN=

NOTIFICATIONS_SUBDOMAIN=n
GIT_SUBDOMAIN=git
